.button {
    position: absolute;
    top: 24px;
    right: 0px;
    border-radius: 21.5px 0 0 21.5px;
    padding-right: 14px;
}

.icon {
    height: 13.33px;
    width: 13.33px;
    margin-left: 6px;
    padding: 3.335px;
}
