@import "./mixins";

$primary-blue: #215184;
$font-color-grey: #545454;
$font-color-white: #FFF;

@include BrandonGrotesqueBold();
@include BrandonGrotesqueRegular();
@include BrandonGrotesqueRegularItalic();
@include BrandonGrotesqueBlack();
@include BrandonGrotesqueMedium();