.brand {
    position: absolute;
    top: 32px;
    left: 40px;
}

.launchList {
    position: absolute;
    top: 119px;
    left: 50%;
    transform: translateX(-50%);
}

.reloadButton {
    position: absolute;
    top: 24px;
    right: 0px;
}